.projectSec{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-body{
    height: 800px;
    background-color: rgb(240, 145, 145);
}

.project-title{
    font-size: 60px;
    padding-top: 80px;

}

.projects{
    padding-top: 30px;

}


.projects img{
   width: 500px;
   border-radius:30px;
   padding: 20px;
}

.multi-projects{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}